#root {
    display: grid;
}
.star {
    cursor: pointer;
    height: 25px;
    width: 25px;
    margin: 2px;
    float: left;
    background-color: gray;
    transition-duration: 1s;
    transition-delay: .2s;
    clip-path: polygon(50% 0%, 63% 38%, 100% 38%, 69% 59%, 82% 100%, 50% 75%, 18% 100%, 31% 59%, 0% 38%, 37% 38%);
}
.star:hover {
    box-shadow: 0px 0px 10px blue;
    transform: scale(1.4);
    background-color: rgba(158, 181, 32, 0.98);
}
.selected {
    background-color: rgba(158, 181, 32, 0.98);
}